<ion-header>
  <ion-toolbar>
    <ion-buttons left>
      <ion-navbar></ion-navbar>
    </ion-buttons>
    <ion-title class="section">
      {{'SIGNUP' | translate}}
    </ion-title>
    <ion-buttons end></ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <content class="form-style">
    <ion-row>
      <ion-col offset-4 col-4 class="center logo-main">
        <img class="logo-bigger" src="{{logo}}">
      </ion-col>
    </ion-row>
    <form [formGroup]="forgotPasswordForm">
      <ion-row>
        <ion-col col-12 class="center">
          <span class="error center" *ngIf="successPasswordForm==''" [innerHTML]="errorPasswordForm"></span>
          <span class="success center" *ngIf="successPasswordForm!=''" [innerHTML]="successPasswordForm"></span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col offset-1 col-10 class="center">
          <span class='black'>{{'INDICATIONS' | translate}}</span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col offset-1 col-11 class="center">
          <ion-item>
            <ion-icon item-left name="ios-contact-outline"></ion-icon>
            <ion-input md-input formControlName="email" type="text" placeholder="{{'EMAIL_USERNAME' | translate}}" class="lower-case" (keyup.enter)="submitForm()"></ion-input>
          </ion-item>
          <span class="error" *ngIf="!forgotPasswordForm.controls.email.valid  && (forgotPasswordForm.controls.email.dirty || submitted)">
            {{'INVALID_EMAIL_USERNAME' | translate}}
          </span>
        </ion-col>
      </ion-row>
      <ion-row class="form-container-buttons">
        <ion-col col-12 class="center">
          <button type="button" outline  ion-button class="button-form shadow" (click)="sendRequest()" [disabled]="!forgotPasswordForm.valid || submitted">{{'SEND' | translate}}</button>
        </ion-col>
      </ion-row>
    </form>
  </content>
</ion-content>
