<ion-header>
  <ion-toolbar>
    <ion-buttons left>
      <ion-navbar></ion-navbar>
    </ion-buttons>
    <ion-title class="section">
      {{'CHANGE_PASSWORD' | translate}}
    </ion-title>
    <ion-buttons end></ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <content class="form-style">
    <ion-row>
      <ion-col offset-4 col-4 class="center logo-main">
        <img class="logo-bigger" src="{{logo}}">
      </ion-col>
    </ion-row>
    <form [formGroup]="resetPasswordForm">
      <ion-row>
        <ion-col col-12 class="center">
          <span class="error center" [innerHTML]="errorPasswordForm"></span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col offset-1 col-10 class="center">
          <span class='black'>{{'INDICATIONS' | translate}}</span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col offset-1 col-11 class="center">
          <ion-item>
            <ion-icon item-left name="ios-contact-outline"></ion-icon>
            <ion-input md-input formControlName="email" type="text" placeholder="{{'EMAIL_USERNAME' | translate}}" (keyup.enter)="handleReset('password')" class="lower-case" #email></ion-input>
          </ion-item>
          <span class="error" *ngIf="!resetPasswordForm.controls.email.valid  && (resetPasswordForm.controls.email.dirty || submitted)">
            {{'INVALID_EMAIL_USERNAME' | translate}}
          </span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col offset-1 col-11 class="center">
          <ion-item>
            <ion-icon class="flip-icon" item-left name="ios-unlock-outline"></ion-icon>
            <ion-input md-input formControlName="password" type="password" placeholder="{{'PASSWORD' | translate}}" (keyup.enter)="handleReset('confirmPassword')" #password></ion-input>
          </ion-item>
          <span class="error" *ngIf="!resetPasswordForm.controls.password.valid  && (resetPasswordForm.controls.password.dirty || (submitted && !externalLogin))">
            {{'INVALID_PASSWORD' | translate}}
          </span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col offset-1 col-11 class="center">
          <ion-item>
            <ion-icon class="flip-icon" item-left name="ios-unlock-outline"></ion-icon>
            <ion-input md-input formControlName="confirm_password" type="password" placeholder="{{'CONFIRM_PASSWORD' | translate}}" #confirmPassword (keyup.enter)="submitForm()"></ion-input>
          </ion-item>
          <span class="error" *ngIf="!resetPasswordForm.controls.confirm_password.valid  && (resetPasswordForm.controls.confirm_password.dirty || submitted)">
            {{'INVALID_CONFIRM_PASSWORD' | translate}}
          </span>
        </ion-col>
      </ion-row>
      <ion-row class="form-container-buttons">
        <ion-col col-12 class="center">
          <button type="button" outline  ion-button class="button-form shadow" (click)="sendRequest()" [disabled]="!resetPasswordForm.valid || submitted">{{'CHANGE' | translate}}</button>
        </ion-col>
      </ion-row>
    </form>
  </content>
</ion-content>
