# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*

.idea/
.sourcemaps/
.sass-cache/
.tmp/
.versions/
coverage/
dist/
node_modules/
tmp/
temp/
www/buid/
hooks/
platforms/
plugins/
plugins/android.json
plugins/ios.json
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
www/build/
www/assets/fonts/roboto.scss
www/assets/fonts/roboto-regular.woff2
www/assets/fonts/roboto-regular.woff
www/assets/fonts/roboto-regular.ttf
www/assets/fonts/roboto-medium.woff2
www/assets/fonts/roboto-medium.woff
www/assets/fonts/roboto-medium.ttf
www/assets/fonts/roboto-light.woff2
www/assets/fonts/roboto-light.woff
www/assets/fonts/roboto-light.ttf
www/assets/fonts/roboto-bold.woff2
www/assets/fonts/roboto-bold.woff
www/assets/fonts/roboto-bold.ttf
www/assets/fonts/noto-sans.scss
www/assets/fonts/noto-sans-regular.woff
www/assets/fonts/noto-sans-regular.ttf
www/assets/fonts/noto-sans-bold.woff
www/assets/fonts/noto-sans-bold.ttf
www/assets/fonts/ionicons.ttf
www/assets/fonts/ionicons.svg
www/assets/fonts/ionicons.scss
www/assets/fonts/ionicons.eot
