<ion-header>
  <ion-toolbar>
    <ion-buttons left>
      <div class="empty-back-button"></div>
    </ion-buttons>
    <ion-title class="section">
      {{'CONTACTS' | translate}}
    </ion-title>
    <ion-buttons end>
      <button type="button" outline class="button-form shadow" ion-button (click)="addContact()">
        <ion-icon item-left name="md-add-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar class="toolbar-segment">
    <ion-segment [(ngModel)]="section">
      <ion-segment-button value="contacts">
        {{'CONTACTS' | translate}}
      </ion-segment-button>
      <ion-segment-button value="invitations" (click)="goInvitations()">
        {{'INVITATIONS' | translate}}
      </ion-segment-button>
      <ion-segment-button value="search" (click)="goSearch()">
        {{'SEARCH' | translate}}
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content padding class="grace list-ios">
  <ion-list>
    <ion-item class="center no-border" *ngIf="maxContacts==0">
      {{'NOT_CONTACTS' | translate}}
    </ion-item>
    <ion-item-sliding #item *ngFor="let contact of listContacts">
      <ion-item (click)="detailContact(contact)" class="contact list-format">
        <ion-thumbnail item-start>
          <div class="image">
            <div class="image-container" *ngIf="contact.imageLoaded" [style.background-image]="contact.image_profile" ></div>
            <ion-spinner *ngIf="!contact.imageLoaded" name="circles"></ion-spinner>
          </div>
        </ion-thumbnail>
        <h2>{{contact.first_name}} {{contact.last_name}}</h2>
        <h3>{{contact.user_name}}</h3>
        <h3><ion-icon item-left name="ios-mail"></ion-icon>{{contact.email}}</h3>

      </ion-item>
      <ion-item-options side="right">
          <button class="button-absolute" (click)="confirmDelete($event,contact)" [disabled]="submitted" color="danger" ion-button>
              <ion-icon item-left name="ios-trash"></ion-icon>
              {{'DELETE' | translate}}
          </button>
      </ion-item-options>
  </ion-item-sliding>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="moreContacts($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="{{'LOADING' | translate}}"></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
