<ion-header>
  <ion-toolbar>
    <ion-buttons left>
      <div class="empty-back-button"></div>
    </ion-buttons>
    <ion-title class="section">
      {{'INVITATIONS' | translate}}
    </ion-title>
    <ion-buttons end>
      <button type="button" outline class="button-form shadow" ion-button (click)="sendRequest()">
        <ion-icon item-left name="md-add-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar class="toolbar-segment">
    <ion-segment [(ngModel)]="section">
      <ion-segment-button value="contacts" (click)="goContacts()">
        {{'CONTACTS' | translate}}
      </ion-segment-button>
      <ion-segment-button value="invitations">
        {{'INVITATIONS' | translate}}
      </ion-segment-button>
      <ion-segment-button value="search" (click)="goSearch()">
        {{'SEARCH' | translate}}
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content padding class="grace list-ios">
  <ion-list>
    <ion-item class="center no-border" *ngIf="maxContactsPending==0">
      {{'NOT_INVITATIONS' | translate}}
    </ion-item>
    <ion-item class="list-format" *ngFor="let pending of listContactsPending" (click)="loadContact(pending)">
      <ion-thumbnail item-start>
        <div class="image">
          <div *ngIf="pending.imageLoaded"  [style.background-image]="pending.image_profile" ></div>
          <ion-spinner *ngIf="!pending.imageLoaded" name="circles"></ion-spinner>
        </div>
      </ion-thumbnail>
      <h2>{{pending.full_name}}</h2>
      <button (click)="rejectInvitation($event,pending)" [disabled]="submitted" ion-button color="danger">{{'DELETE' | translate}}</button>
      <button (click)="acceptInvitation($event,pending)" [disabled]="submitted" ion-button>{{'ACCEPT' | translate}}</button>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="moreContacts($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="{{'LOADING' | translate}}"></ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <!--
 <ion-searchbar
   [(ngModel)]="myInput"
   [showCancelButton]="shouldShowCancel"
   (ionInput)="onInput($event)"
   (ionCancel)="onCancel($event)">
 </ion-searchbar>
 -->
</ion-content>
