<ion-header>
  <ion-toolbar>
    <ion-buttons left>
      <ion-navbar></ion-navbar>
    </ion-buttons>
    <ion-title class="section">
      {{'CONTACTS' | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding class="grace list-ios">
  <ion-list class="no-margin-top">
    <ion-item class="center no-border" *ngIf="maxContacts==0">
      {{'NOT_CONTACTS' | translate}}
    </ion-item>
    <ion-item class="list-format" *ngFor="let contact of listContacts" (click)="returnContact(contact)">
      <ion-thumbnail item-start>
        <div class="image">
          <div class="image-container" *ngIf="contact.imageLoaded" [style.background-image]="contact.image_profile" ></div>
          <ion-spinner *ngIf="!contact.imageLoaded" name="circles"></ion-spinner>
        </div>
      </ion-thumbnail>
      <h2>{{contact.first_name}} {{contact.last_name}}</h2>
      <h3>{{contact.user_name}}</h3>
      <h3><ion-icon item-left name="ios-mail"></ion-icon>{{contact.email}}</h3>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="moreContacts($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="{{'LOADING' | translate}}"></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
