<ion-header>
  <ion-toolbar>
    <ion-buttons  left>
      <div class="empty-back-button center">
        <ion-icon item-left name="md-arrow-back" (click)="backAction()"></ion-icon>
      </div>
    </ion-buttons>
    <ion-title class="section">
      {{'CONTACT_PROFILE' | translate}}
    </ion-title>
    <ion-buttons end></ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <content class="form-style profile no-margin-top">
    <ion-row *ngIf="!ios">
      <ion-col col-12 class="center image-setting">
        <ion-icon class="big-icon" *ngIf="imageProfile==null || imageProfile== ''" item-left name="md-person"></ion-icon>
        <img *ngIf="imageProfile!=null && imageProfile!= ''" src="{{imageProfile}}">
      </ion-col>
    </ion-row>
    <ion-row *ngIf="errorProfile!=''">
      <ion-col col-12 class="center">
        <span class="error center" [innerHTML]="errorProfile"></span>
      </ion-col>
    </ion-row>
    <div *ngIf="ios" class="image-setting">
      <div *ngIf="imageProfile==null || imageProfile== ''" class="no-photo">
        <span>{{'PROFILE_PHOTO' | translate}}</span>
      </div>
      <div class="photo image-container" *ngIf="imageProfile!=null && imageProfile!= ''" [style.background-image]="imageProfile" ></div>
    </div>
    <ion-row *ngIf="firstName!='' && ready">
      <ion-col offset-1 col-11 class="center">
        <ion-item>
          <ion-label stacked>{{'FIRST_NAME' | translate}}</ion-label>
          <ion-textarea fz-elastic class="text-area" rows="1" [(ngModel)]="firstName" disabled></ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="lastName!='' && ready">
      <ion-col offset-1 col-11 class="center">
        <ion-item>
          <ion-label stacked>{{'LAST_NAME' | translate}}</ion-label>
          <ion-textarea fz-elastic class="text-area" rows="1" [(ngModel)]="lastName" disabled></ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="userName!='' && ready">
      <ion-col offset-1 col-11 class="center">
        <ion-item>
          <ion-label stacked>{{'USERNAME' | translate}}</ion-label>
            <ion-textarea fz-elastic class="text-area" rows="1" [(ngModel)]="userName" disabled></ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="email!='' && ready">
      <ion-col offset-1 col-11 class="center">
        <ion-item>
          <ion-label stacked>{{'EMAIL' | translate}}</ion-label>
          <ion-textarea fz-elastic class="text-area" rows="1" [(ngModel)]="email" disabled></ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="jobTitle!='' && ready">
      <ion-col offset-1 col-11 class="center">
        <ion-item>
          <ion-label stacked>{{'JOB_TITLE' | translate}}</ion-label>
          <ion-textarea fz-elastic class="text-area" rows="1" [(ngModel)]="jobTitle" disabled></ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="companyName!='' && ready">
      <ion-col offset-1 col-11 class="center">
        <ion-item>
          <ion-label stacked>{{'COMPANY_NAME' | translate}}</ion-label>
          <ion-textarea fz-elastic class="text-area" rows="1" [(ngModel)]="companyName" disabled></ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="jobDescription!='' && ready">
      <ion-col offset-1 col-11 class="center">
        <ion-item>
          <ion-label stacked>{{'JOB_DESCRIPTION' | translate}}</ion-label>
          <ion-textarea fz-elastic class="text-area" rows="1" [(ngModel)]="jobDescription" disabled></ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>
  </content>
</ion-content>
