@font-face {
  font-family: "Helvetica";
  font-style: normal;
  src: local("Helvetica"), url("../assets/fonts/helvetica.woff2") format("woff2"), url("../assets/fonts/helvetica.woff") format("woff"), url("../assets/fonts/helvetica.ttf") format("truetype");
}

@font-face {
  font-family: "Helvetica Ltsd";
  src: local("Helvetica Ltsd"), url("../assets/fonts/HelveticaLTStd-LightCond.woff2") format("woff2"), url("../assets/fonts/HelveticaLTStd-LightCond.woff") format("woff"), url("../assets/fonts/HelveticaLTStd-LightCond.ttf") format("truetype");
}

@font-face {
  font-family: "Helvetica Bltsd";
  src: local("Helvetica Ltsd"), url("../assets/fonts/HelveticaLTStd-BoldCond.woff2") format("woff2"), url("../assets/fonts/HelveticaLTStd-BoldCond.woff") format("woff"), url("../assets/fonts/HelveticaLTStd-BoldCond.ttf") format("truetype");
}

::-webkit-input-placeholder {
  text-transform: initial;
}

:-moz-placeholder {
  text-transform: initial;
}

::-moz-placeholder {
  text-transform: initial;
}

:-ms-input-placeholder {
  text-transform: initial;
}

* {
  font-family: "Helvetica";
  color: #6D6E71;
  font-size: 14px;
}

h3 ion-icon {
  margin: 0px 4px 0px 0px !important;
  padding: 0px;
  vertical-align: middle;
}

.no-margin-top {
  margin-top:0px !important;
}

.center {
  text-align: center;
}


.left {
  text-align: left;
}

.right {
  text-align: right;
}

.in-table {
  display: inline-table;
}

.no-border, .no-border .item-inner {
  border: 0px !important;
}

.logo-bigger {}

.margin-respect {
  margin-top: 25px;
}

.list{
  margin: 0px;
}

.contact{
  position: relative;
}

.contact .button-absolute{
  position: absolute;
  bottom: 0px;
  right: 0px;
  margin-right: 20px;
}

.item-input-has-focus .label-md[stacked], .input-has-focus .label[stacked], .item-input-has-focus .label[floating], .input-has-focus .label[floating] {
  color: #FF3F1D;
}

/*barra de navegación*/

.tabs .tabbar {
  height: 50px;
  background-color: #FF3F1D;
}

.footer .toolbar {
  background: none;
  display: initial;
  min-height: 56px;
}

.tabs .tabbar .tab-button[aria-selected=true] {
  background-color: #FFFFFF;
  height: 50px;
}

.tabs .tabbar .tab-button {
  min-height: inherit;
}

.tabs .tabbar .tab-button[aria-selected=true] .tab-button-text {
  color: #FF3F1D;
  font-size: 12px;
}

.tabs .tabbar .tab-button .tab-button-text {
  color: #FFFFFF;
  -webkit-transition: none;
  transition: none;
  font-size: 12px;
  transform: initial;
}

.tabs .tabbar .tab-button .tab-button-icon {
  height: 25px;
}

.tabs .tabbar .tab-button .ion-ios-home-outline, .tabs .tabbar .tab-button .ion-md-home {
  content: url('icon/home.svg');
}

.tabs .tabbar .tab-button .ion-ios-contacts-outline, .tabs .tabbar .tab-button .ion-md-contacts {
  content: url('icon/contacts.svg');
}

.tabs .tabbar .tab-button .ion-ios-intros-outline, .tabs .tabbar .tab-button .ion-md-intros {
  content: url('icon/intros.svg');
}

.tabs .tabbar .tab-button .ion-ios-messages-outline, .tabs .tabbar .tab-button .ion-md-messages {
  content: url('icon/messages.svg');
}

.tabs .tabbar .tab-button .ion-ios-settings-outline, .tabs .tabbar .tab-button .ion-md-settings {
  content: url('icon/settings.svg');
}

.tabs .tabbar .tab-button[aria-selected=true] .ion-ios-home, .tabs .tabbar .tab-button[aria-selected=true] .ion-md-home {
  content: url('icon/home_active.svg');
}

.tabs .tabbar .tab-button[aria-selected=true] .ion-ios-contacts, .tabs .tabbar .tab-button[aria-selected=true] .ion-md-contacts {
  content: url('icon/contacts_active.svg');
}

.tabs .tabbar .tab-button[aria-selected=true] .ion-ios-intros, .tabs .tabbar .tab-button[aria-selected=true] .ion-md-intros {
  content: url('icon/intros_active.svg');
}

.tabs .tabbar .tab-button[aria-selected=true] .ion-ios-messages, .tabs .tabbar .tab-button[aria-selected=true] .ion-md-messages {
  content: url('icon/messages_active.svg');
}

.tabs .tabbar .tab-button[aria-selected=true] .ion-ios-settings, .tabs .tabbar .tab-button[aria-selected=true] .ion-md-settings {
  content: url('icon/settings_active.svg');
}

/*fin de barra de navegación*/

ion-navbar.toolbar {
  display: flex;
}

.toolbar .toolbar-background {
  border-color: initial !important;
  background-color: initial !important;
}

.toolbar .toolbar-title, .toolbar .icon {
  color: inherit !important;
}

.toolbar .bar-button {
  border-width: 0px;
  margin-right: 20px;
}

.toolbar .bar-button ion-icon {
  font-size: 30px !important;
}

.empty-back-button {
  width: 56px;
}

.list .item {
  background: none;
}

.item-inner {
  border-bottom: 0px !important;
  box-shadow: none !important;
  margin-left: 0px !important;
}

.form-style .item.item-block, .searchbar {
  padding: 0px;
  min-height: initial;
  border-top: 0px;
  background: none;
  border-bottom: 1px solid;
  border-bottom-color: #FF3F1D;
}

.searchbar-toolbar{
  background-color: #EDEEF0 !important;
    z-index: 4;
    width: 100%;
}

.searchbar-toolbar .searchbar-input-container{
  padding: 5px;
}

.searchbar input{
  background: none;
  background-color: inherit !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.searchbar .searchbar-search-icon{
  top: 15px;

}

.form-style .row .col {
  padding-left: 0px;
  padding-right: 0px;
}

.item {
  padding-left: 0px;
}

.text-input {}

.lower-case input {
  text-transform: lowercase;
}

.upper-case input {
  text-transform: uppercase;
}

.capitalize-case input {
  text-transform: capitalize;
}

.flip-icon {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.error {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin: auto;
  color: #fd0000;
}

.success {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin: auto;
  color: #059BDD;
}

.button-footer {
  width: 100% !important;
  padding: 0px;
  margin: 0px;
  border-radius: 0px;
  position: inherit;
  bottom: 0px;
  height: 56px !important;
  border: 0px;
  font-weight: bold;
  z-index: 4;
}

.big-label {
  margin: auto;
  text-align: center;
  font-size: 20px;
  text-transform: capitalize;
}

.button {
  font-weight: normal !important;
  text-shadow: initial !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  height: inherit;
}

.button-link {
  margin: 0px;
  padding: 0px !important;
  border-radius: 0px;
  vertical-align: middle;
}

.button-ios-light, .button-md-light, .button-ios-light.activated, .button-md-light.activated {
  background-color: inherit;
}

.button-ios-light .button-inner, .button-md-light .button-inner {
  color: #6D6E71 !important;
  background: inherit !important;
  text-transform: none !important;
  font-weight: normal !important;
}

.button-link .button-inner {
  font-weight: normal !important;
  color: #FF3F1D !important;
}

.form-style .fab {
  margin: 0px;
  display: inline-block;
}

.form-style .login-facebook {
  margin-top: 20px;
  width: 65px;
  height: 65px;
  background-color: #23589C;
}

.form-style .login-facebook img {
  width: 35%;
}

.form-style .login-linkedin {
  width: 110px;
  height: 110px;
  background-color: #007BBD;
}

.form-style .login-linkedin img {
  margin-left: 1px;
  width: 70%;
}

.form-style .login-google-plus {
  background-color: #FD4D3E;
  height: 65px;
  margin-top: 20px;
  width: 65px;
}

.form-style .login-google-plus img {
  width: 80%;
}

.form-style .login-facebook, .form-style .login-google-plus, .form-style .login-linkedin {
  font-size: 8px !important;
}

.black {
  color: #000000;
}

.bottom-space {
  margin-bottom: 45px;
}

.form-container-buttons {
  margin-top: 40px;
}

.button.button-form {
  padding: 22px 0px 22px 0px;
  width: 35%;
  font-size: 16px;
  border-top: 1px solid #FF3F1D;
  background-color: #FF3F1D;
}

.button.button-form .button-inner {
  font-weight: bold;
  font-size: 18px;
  color: #FFFFFF;
}

.button.button-form.activated {
  border-top: 1px solid #FD4D3E !important;
  background-color: #FD4D3E !important;
}

.button-outline.button-form {
  border: 1px solid #FD4D3E;
  background-color: #FFFFFF;
}

.button-outline.button-form.activated {
  border: 1px solid #FD4D3E !important;
}

.button-outline.button-form.activated .button-inner {
  color: #ffffff !important;
}

.button-outline.button-form .button-inner {
  color: #FF3F1D;
}

.button.button-form.large-button {
  width: auto;
  padding-left: 12px;
  padding-right: 12px;
}

ion-menu ion-list {
  padding: 8px;
}

ion-item-sliding .item{
    padding-left: 16px;
}



ion-item-sliding .button-ios-danger, ion-item-sliding .button-md-danger, ion-item-sliding .button-danger{
    background-color: #FD4D3E;
    padding: 8px !important;
}

ion-item-sliding, ion-item-sliding .contact{
    background-color: #EDEEF0 !important;
}

ion-item-sliding ion-item-options .button ion-icon, ion-item-sliding ion-item-options .button .button-inner{
    color: #ffffff;
}

.grace {
  background-color: #EDEEF0;
}

/*dashboard*/

/*AddContact*/
.contact-device{
  background-color: #FF3F1D;
  color:#FFFFFF;
}

.contact-device ion-icon{
  color:#FFFFFF;
  font-size: 50px;
}
/*Fin de AddContact*/

.card {
  padding: 0px;
  margin: 0px;
  width: 100%;
}

/*fin dashboard*/

.list ion-thumbnail {
  text-align: center;
  width: 60px;
  height: 60px;
  min-width: 60px;
  min-height: 60px;
}

.list .image {
  display: inline-table;
}

.list .image ion-spinner {
  height: 60px;
}

.list .image img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.list .image div {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-size: cover;
  background-position-y: center;
}

.list-format.item-block .item-inner button {
  width: auto;
  float: right;
}

.list-format.item-block .item-inner button.button-default {
  background-color: #FF3F1D;
}

.list-format.item-block .item-inner button.button-default.button-md-danger, .list-format.item-block .item-inner button.button-default.button-ios-danger {
  background-color: #999999;
}

.list-format.item-block .item-inner button .button-inner {
  color: #ffffff;
}

.list-format .label {
  margin: 0px 0px 0px 0px;
}

.list-format button.contact{
  background-color: #0EA8F2 !important;
}

.profile{
  margin-top:8px;
  display: inherit;
}

.profile .text-input[disabled] {
  opacity: 1;
}

.profile .label {
  color:#FF3F1D;
}

.form-intros .label, .form-intros label{
  color: #4C4C4C;
  font-size: 1.2rem;
  display: inline-grid;
}

.form-intros .text-input {
  margin-top: 20px !important;
}

.checkbox-item{
  border-bottom:0px !important;
}

.intros::before{
  background: none;
}

.intros .toolbar {
  background: none;
  display: initial;
  height: 45px;
  min-height:45px;
}

.intros .button-intro {
  border-radius: 0px;
  width:100%;
  margin:0px;
  padding:0px;
  border-top: 1px solid #FF3F1D !important;
  background-color: #ffffff !important;
  height: 45px;
}

.intros .button-intro.activated {
  border-top: 1px solid #FD4D3E !important;
  background-color: #FD4D3E !important;
}

.intros  .button-intro.activated .button-inner {
  color: #ffffff !important;
}

.intros  .button-intro .button-inner {
  color: #FF3F1D !important;
  text-transform: initial;
  font-size:18px;
}

.loading-wrapper{
  text-align: center;
}

@media (min-width: 600px) {
  .form-style .login-facebook {
    width: 125px;
    height: 125px;
    background-color: #23589C;
  }
  .form-style .login-linkedin {
    width: 200px;
    height: 200px;
    background-color: #007BBD;
  }
  .form-style .login-google-plus {
    width: 125px;
    height: 125px;
    background-color: #FD4D3E;
  }
}

ion-alert .alert-title{
  font-size: 14px !important;
}

ion-alert .delete{
  background-color: #FD4D3E !important;
}

ion-alert .delete .button-inner{
  color: #ffffff !important;
}

.final-card{
    position:relative;
    margin: auto;
    background-image: url("../assets/images/final.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: 0px;
    width: 300px;
    height: 350px;
}

.final-card .image{
    position: absolute;
}

.final-card .image img{
    border: 2px solid #FF3F1D !important;
}

.final-card .image.right{
    top: 55%;
    right: -5%;
}

.final-card .image.left{
    top: 55%;
    left: -5%;
}

.final-card .image.top{
    top: 0;
    left:25%;
}

.final-card .image.top img{
    min-width: 150px;
    min-height: 150px;
}

.final-card .image .green-icon{
    border-radius: 50%;
    background-color: #76FF03;
    position: absolute;
    bottom: 3px;
    width: 12px;
    height: 12px;
    right: 6px;
}

.final-card .message{
    bottom: 0px;
    position: absolute;
    text-align: center;
    margin: auto;
    width: 100%;
}

@media (min-width: 360px) {
  .tabs .tabbar .tab-button .tab-button-text {
    font-size: 14px !important;
  }
}

@media (min-width: 480px) {
  .tabs .tabbar .tab-button .tab-button-text {
    font-size: 16px !important;
  }
}

@media (max-height: 568px) {
    .final-card .image.right{
        right: 0%;
    }

    .final-card .image.left{
        left: 0%;
    }
}
