.android-theme {
  * {
    font-family: "Helvetica";
  }

  .logo-bigger {}

  .toolbar {
    background-color: #FF3F1D;
    padding: 0;
  }

  .toolbar .back-button-text,
  .toolbar .icon,
  .toolbar .toolbar-title {
    color: #ffffff !important;
    text-decoration: none;
  }

  .logo-main {
    margin-top: 20px;
    margin-bottom: 0;
  }

  .big-label {
    margin: auto;
    text-align: center;
    font-size: 20px;
    text-transform: capitalize;
  }

  .next-login {
    border-top: 1px solid #FF3F1D !important;
    background-color: #ffffff !important;
    min-height: 3.6em !important;
  }

  .next-login.activated {
    border-top: 1px solid #FD4D3E !important;
    background-color: #FD4D3E !important;
  }

  .next-login.activated .button-inner {
    color: #ffffff !important;
  }

  .next-login .button-inner {
    color: #FF3F1D !important;
    text-transform: uppercase;
  }

  .button .button-inner {
    text-transform: uppercase;
  }

  .button.button-form.shadow {
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
  }

  .button-outline.button-form {
    border: 1px solid #FFFFFF;
  }

  .button-outline.button-form .button-inner {
    text-transform: uppercase;
  }

  .form-style .item.item-block {
    width: 90%;
  }

  .image-setting {
    position: relative;
    padding: 0;
    margin: 0;
    width: 100%;
    min-height: 186px;
    background-color: #e7e7e7;
  }

  .image-setting ion-spinner {
    height:100%;
  }

  .image-setting .big-icon {
    position: absolute;
    bottom: -42px;
    text-align: center;
    width: 100%;
    left: 0;
    font-size: 186px;
    color: #d3d3d3;
  }

  .image-setting img {
    max-width: 350px;
    vertical-align: bottom;
    height: 186px;
  }

  .image-setting ion-fab {
    padding: 0;
    margin-right: 2%;
    bottom: -28px;
  }

  .image-setting ion-fab button {
    background-color: #6D6E71;
  }

  .image-setting ion-fab ion-icon {
    color: #ffffff;
  }
  /*dashboard*/
  .card-md {
    font-size: 15px;
    margin-bottom: 20px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.4);
  }

  .card-header-md {
    font-size: 18px;
    font-weight: bold;
    color: #4C4C4C;
    padding: 20px;
    border-bottom: 1.2px solid #6D6E71;
  }

  .card-md .footer {
    width: 100%;
    clear: both;
    text-align: right;
    text-transform: uppercase;
    padding-bottom: 20px;
  }

  .card-md .footer .label {
    font-family: 'Helvetica Bltsd';
    width: 100%;
    color: #FF3F1D !important;
    font-size: 17px;
    margin: 20px;
    display: inline-block;
    letter-spacing: 1px;
  }

  .card-content-md {
    padding: 20px !important;
  }

  .card-content-md .item {
    padding: 0px;
    margin: auto auto;
    text-align: center;
    float: left;
    width: 50%;
  }

  .card-content-md .item.full {
    width: 100%
  }

  .card-content-md .item.reason {
    width: 100%;
  }

  .card-content-md .item .label, .card-content-md .item .label div {
    color: #111111 !important;
    margin: 0px;
    white-space: inherit;
    text-transform: capitalize;
  }

  .card-content-md .item.reason .label {
    margin: 0px 8px 0px 0px;
    text-align: center;
    text-transform: inherit;
    font-size: 16px;
  }

  .card-content-md .item .item-inner {
    padding: 0px !important;
  }

  .card-content-md .image, .list .image {
    display: inline-table;
  }

  .card-content-md .image ion-icon {
    font-size:100px;
  }

  .card-content-md .image ion-spinner {
    height: 80px;
  }

  .card-content-md .image img {
    max-width: 80px;
    max-height: 80px;
    border-radius: 50%;
  }
  /*fin dashboard*/

  /*contacts*/

  .header .toolbar-segment {
    height: inherit !important;
    min-height: inherit !important;
  }

  .header .toolbar-segment .segment-button{
    font-weight: bold;
    font-size:inherit !important;
    border-color:#FF3F1D;
    border-bottom-width: 3px;
    color: #ffffff;
  }

  .header .toolbar-segment .segment-button.segment-activated{
    border-color:#ffffff;
    color: #ffffff;
  }

  .list-md {
    margin: 0px;
  }


  .searchbar input{
    padding: 6px 35px;
    line-height: 0 !important;
  }

  .searchbar .searchbar-search-icon {
    top: 11px;
  }

  .searchbar-toolbar{
    margin: 98px 0px;
  }

  .searchbar-list{
    margin-top: 40px;
  }

  .searchbar-list .scroll-content{
    margin-bottom: 90px !important;
  }

  /*Fin de contacts*/
}
