.ios-theme {
  * {
    font-family: "Helvetica";
    text-decoration: none !important;
  }

  .logo-bigger {}

  .header .toolbar {
    height: 64px !important;
  }

  .toolbar {
    background-color: #ffffff;
    padding: 0;
  }

  .toolbar .back-button-text,
  .toolbar .icon,
  .toolbar .toolbar-title {
    color: #FF3F1D !important;
    text-decoration: none;
    background: none !important;
  }

  .toolbar .toolbar-background {
    color: #cccccc;
  }
  /*barra de navegación*/
  .tabs-md .tabbar {
    width: 100%;
    margin-right: 0.5px;
    border-radius: 0 0 2px 2px;
  }
  /*fin de barra de navegación*/
  .logo-main {
    margin-top: 20px;
    margin-bottom: 0;
  }

  .menu-inner .item {
    border: 0 !important;
  }

  .item.item-block .item-inner {
    padding-right: 0;
    margin-right: 0;
  }

  .form-style .item.item-block {}

  .label {
    margin: 0;
  }

  .next-login {
    color: #ffffff !important;
    border-top: 1px solid #FF3F1D !important;
    background-color: #FF3F1D !important;
    text-transform: uppercase !important;
  }

  .next-login .button-inner {
    color: #ffffff !important;
    text-transform: none;
  }

  .next-login.activated {
    border-top: 1px solid #FD4D3E !important;
    background-color: #FD4D3E !important;
  }

  .big-label {
    font-weight: bold;
  }

  .button {
    padding: 16px 0;
  }

  .button.button-form {
    transition: none;
    border-radius: 10px;
    width: 44%;
  }

  .button.button-form .button-inner {
    font-weight: 100;
  }

  .image-setting {
    float: left;
    position:relative;
    /* padding: 8px; */
    margin: 40px 0 8px 35px;
    width: 100px;
    height: 100px;
  }

  .image-setting ion-spinner{
    margin: auto auto;
    text-align: center;
    position: absolute;
    top: 30px;
    width: 100%;
  }

  .image-setting .no-photo {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-image: url("../assets/images/profile.png");
    background-repeat: no-repeat;
  }

  .image-setting .photo {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  .image-setting span {
    -ms-transform: scaleY(1.2);
    -moz-transform: scaleY(1.2);
    -webkit-transform: scaleY(1.2);
    -o-transform: scaleY(1.2);
    transform: scaleY(1.3);
    color: #FF3F1D;
    letter-spacing: 0.4px;
    display: inline-table;
    margin: 25px auto;
    text-align: center;
  }

  .image-setting img {
    width: 186px;
  }
  /*dashboard*/
  .card-ios {
    margin-bottom: 20px;
    border-radius: 15px;
    font-size: 15px;
    -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.05);
  }

  .card-header-ios {
    font-family: 'Helvetica Ltsd';
    font-size: 13px;
    font-weight: normal;
    color: #7f7f7f;
    padding: 20px;
    border-bottom: 2px solid #EDEEF0;
    text-transform: uppercase;
  }

  .card-ios {
    border-radius: 20px;
    font-size: 15px;
    -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
  }

  .card-ios .footer .label {
    font-family: 'Helvetica Ltsd';
    width: 100%;
    color: #FF3F1D !important;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    margin: 0;
    display: inline-block;
  }

  .card-content-ios {
    padding: 20px;
    margin-top: 13px;
  }

  .card-content-ios .item {
    padding: 0;
    margin: auto;
    text-align: center;
    float: left;
    width: 50%;
  }

  .card-content-ios .item.full {
    width: 100%;
  }

  .card-content-ios .item.reason {
    width: 100%;
  }

  .card-content-ios .item .label,
  .card-content-ios .item .label div {
    color: #111111 !important;
    white-space: inherit;
    text-transform: capitalize;
  }

  .card-content-ios .item.reason .label {
    text-align: center;
    text-transform: inherit;
  }

  .card-content-ios .item .item-inner {
    padding: 0 !important;
  }

  .card-content-ios .image {
    display: inline-table;
  }

  .card-content-ios .image ion-icon {
    font-size: 100px;
  }

  .card-content-ios .image ion-spinner {
    height: 70px;
  }

  .card-content-ios .image img {
    max-width: 70px;
    max-height: 70px;
    border-radius: 50%;
  }

  .card-ios .footer {
    width: 100%;
    clear: both;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 10px;
  }
  /*fin dashboard*/

  /*contacts*/
  .header .toolbar-segment {
    height: inherit !important;
  }

  .header .toolbar-segment .segment-button{
    border-color:#FF3F1D;
    color: #FF3F1D;
    background-color: #ffffff;
  }

  .header .toolbar-segment .segment-button.segment-activated{
    background-color: #FF3F1D !important;
    color: #ffffff;
  }

  .grace.list-ios.has-infinite-scroll  .scroll-content {
    padding-right: 0px !important;
  }

  .grace .list-ios > .item-block:first-child, .grace .list-ios > .item-block:last-child{
      border:0px !important;
  }

  .list-format.item-block .item-inner{
    border-bottom: 1px solid #FF3F1D !important;
  }

  /*Fin de contacts*/

  @media (max-width: 320px) {
    .header .toolbar {
      height: 44px !important;
    }

    .scroll-content {
      margin-top: 50px !important;
    }
  }
  @media (min-width: 320px) and (max-width: 374px) {
    .header .toolbar .toolbar-title {
      font-size: 20px !important;
    }

    .item > ion-icon,
    .item-inner > ion-icon {
      font-size: 30px !important;
    }
  }
  @media (min-width: 768px) {
    * {
      font-size: 25px !important;
    }

    .item > ion-icon,
    .item-inner > ion-icon {
      font-size: 40px !important;
    }

    .header .toolbar {
      height: 88px !important;
    }

    .logo-main {
      margin-top: 40px;
    }

    .card-content-ios .item .label,
    .card-content-ios .item.reason .label {
      font-size: 20px !important;
    }
  }
}
