<ion-toolbar *ngIf="options.showHeader!==false">
  <ion-buttons  left>
    <div *ngIf="!options.backEnabled" class="empty-back-button"></div>
    <ion-navbar *ngIf="options.backEnabled"></ion-navbar>
  </ion-buttons>

  <ion-title *ngIf="!(options.sectionEnabled==false)" class="section">
    {{configService.getSection()}}
  </ion-title>

  <ion-buttons end>
    <button ion-button icon-only (click)="openUserMenu($event)">
      <ion-icon *ngIf="options.menuEnabled" name="{{menuIcon}}"></ion-icon>
    </button>
  </ion-buttons>
</ion-toolbar>
