<ion-header>
  <ion-toolbar>
    <ion-buttons left>
      <div class="empty-back-button"></div>
    </ion-buttons>
    <ion-title class="section">
      {{'INTROS' | translate}}
    </ion-title>
    <ion-buttons end></ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding class="grace">
  <div class="list final-card">
    <div class="image top">
      <div class="image-container" *ngIf="final.user.image_loaded" [style.background-image]="final.user.image_profile" ></div>
      <ion-spinner *ngIf="!final.user.image_loaded" name="circles"></ion-spinner>
    </div>
    <div class="image left">
      <div class="image-container" [style.background-image]="final.friend_1.image_profile" ></div>
      <div class="green-icon"></div>
    </div>

    <div class="image right">
      <div class="image-container" [style.background-image]="final.friend_2.image_profile" ></div>
      <div class="green-icon"></div>
    </div>

    <div class="message">{{'MADE_INTRODUCTION_BETWEEN' | translate}}</div>
  </div>
</ion-content>
<ion-footer class="intros">
  <ion-toolbar>
    <button type="button" ion-button class="button-intro" (click)="nextStep()">{{'DONE' | translate}}</button>
  </ion-toolbar>
</ion-footer>
