<ion-header>
  <ion-toolbar>
    <ion-buttons left>
      <div class="empty-back-button center">
        <ion-icon item-left name="md-arrow-back" (click)="backAction()"></ion-icon>
      </div>
    </ion-buttons>
    <ion-title class="section">
      {{'MADE_INTROS' | translate}}
    </ion-title>
    <ion-buttons end></ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding class="grace list-ios messages">
  <ion-list class="no-margin-top">
    <ion-item class="message-center center no-border" *ngIf="maxIntros==0 && ready==true">
      {{'NOT_MESSAGES_MADE' | translate}}
    </ion-item>
    <ion-item class="list-format" *ngFor="let intro of listIntros" (click)="gotoDetail(intro)">
      <ion-thumbnail item-start class="image-join">
        <div class="image">
          <div class="image-container" *ngIf="intro.friend_1_image_loaded" [style.background-image]="intro.friend_1_image_profile"></div>
          <ion-spinner *ngIf="!intro.friend_1_image_loaded" name="circles"></ion-spinner>
        </div>
        <div class="image {{intro.friend_2_style}}">
          <div class="image-container" *ngIf="intro.friend_2_image_loaded" [style.background-image]="intro.friend_2_image_profile"></div>
          <ion-spinner *ngIf="!intro.friend_2_image_loaded" name="circles"></ion-spinner>
        </div>
      </ion-thumbnail>
      <h3>{{intro.created_at}}</h3>
      <h2>{{intro.friend_1_user_name}}</h2>
      <h2>{{intro.friend_2_user_name}}</h2>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="moreMessages($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="{{'LOADING' | translate}}"></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
