<ion-header>
  <ion-toolbar>
    <ion-buttons left>
      <ion-navbar></ion-navbar>
    </ion-buttons>
    <ion-title class="section">
      {{'SIGNUP' | translate}}
    </ion-title>
    <ion-buttons end></ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <content class="form-style">
    <ion-row>
      <ion-col offset-4 col-4 class="center logo-main">
        <img class="logo-bigger" src="{{logo}}">
      </ion-col>
    </ion-row>
    <form [formGroup]="registerForm">
      <ion-row>
        <ion-col col-12 class="center">
          <span class="error center" [innerHTML]="errorRegister"></span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col offset-1 col-11 class="center">
          <ion-item>
            <ion-icon item-left name="ios-contact-outline"></ion-icon>
            <ion-input md-input formControlName="first_name" type="text" placeholder="{{'FIRST_NAME' | translate}}" (keyup.enter)="handleLogin('lastName')" #firstName></ion-input>
          </ion-item>
          <span class="error" *ngIf="!registerForm.controls.first_name.valid  && (registerForm.controls.first_name.dirty || submitted)">
            {{'INVALID_FIRST_NAME' | translate}}
          </span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col offset-1 col-11 class="center">
          <ion-item>
              <ion-icon item-left name="ios-contact-outline"></ion-icon>
              <ion-input md-input formControlName="last_name" type="text" placeholder="{{'LAST_NAME' | translate}}" (keyup.enter)="handleLogin('userName')" #lastName></ion-input>
          </ion-item>
          <span class="error" *ngIf="!registerForm.controls.last_name.valid  && (registerForm.controls.last_name.dirty || submitted)">
            {{'INVALID_LAST_NAME' | translate}}
          </span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col offset-1 col-11 class="center">
          <ion-item>
              <ion-icon item-left name="ios-contact-outline"></ion-icon>
              <ion-input md-input formControlName="user_name" type="text" placeholder="{{'USERNAME' | translate}}" (keyup.enter)="handleLogin('email')" #userName></ion-input>
          </ion-item>
          <span class="error" *ngIf="!registerForm.controls.user_name.valid  && (registerForm.controls.user_name.dirty || submitted)">
            {{'INVALID_USERNAME' | translate}}
          </span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col offset-1 col-11 class="center">
          <ion-item>
            <ion-icon item-left name="ios-mail-outline"></ion-icon>
            <ion-input md-input formControlName="email" type="email" placeholder="{{'EMAIL' | translate}}"  (keyup.enter)="handleLogin('password')" class="lower-case" #email></ion-input>
          </ion-item>
          <span class="error" *ngIf="!registerForm.controls.email.valid  && (registerForm.controls.email.dirty || submitted)">
            {{'INVALID_EMAIL' | translate}}
          </span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col offset-1 col-11 class="center">
          <ion-item>
            <ion-icon class="flip-icon" item-left name="ios-unlock-outline"></ion-icon>
            <ion-input md-input formControlName="password" type="password" placeholder="{{'PASSWORD' | translate}}" (keyup.enter)="handleLogin('confirmPassword')" #password></ion-input>
          </ion-item>
          <span class="error" *ngIf="!registerForm.controls.password.valid  && (registerForm.controls.password.dirty || submitted)">
            {{'INVALID_PASSWORD' | translate}}
          </span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col offset-1 col-11 class="center">
          <ion-item>
            <ion-icon class="flip-icon" item-left name="ios-unlock-outline"></ion-icon>
            <ion-input md-input formControlName="confirm_password" type="password" placeholder="{{'CONFIRM_PASSWORD' | translate}}" #confirmPassword></ion-input>
          </ion-item>
          <span class="error" *ngIf="!registerForm.controls.confirm_password.valid  && (registerForm.controls.confirm_password.dirty || submitted)">
            {{'INVALID_CONFIRM_PASSWORD' | translate}}
          </span>
        </ion-col>
      </ion-row>
      <ion-row class="form-container-buttons">
        <ion-col col-12 class="center">
          <button outline  ion-button class="button-form shadow" (click)="register()" [disabled]="!registerForm.valid || submitted">{{'SIGNUP' | translate}}</button>
        </ion-col>
      </ion-row>
    </form>
  </content>
</ion-content>
