<ion-header>
  <ion-toolbar>
    <ion-buttons  left>
      <ion-navbar></ion-navbar>
    </ion-buttons>
    <ion-title class="section">
      {{'SETTINGS' | translate}}
    </ion-title>
    <ion-buttons end></ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <content class="form-style">
    <ion-row *ngIf="!ios">
      <ion-col col-12 class="center image-setting">
        <ion-icon class="big-icon" *ngIf="imageProfile==null" item-left name="md-person"></ion-icon>
        <img *ngIf="imageProfile!=null" src="{{imageProfile}}">
        <ion-fab bottom right>
         <button (click) = "makeImage()" ion-fab>
           <ion-icon  name="md-camera"></ion-icon>
         </button>
       </ion-fab>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="ios">
      <ion-col offset-4 col-4 class="center logo-main">
        <img class="logo-bigger" src="{{logo}}">
      </ion-col>
    </ion-row>
    <form [formGroup]="registerSetting">
      <ion-row>
        <ion-col col-12 class="center">
          <span class="error center" [innerHTML]="errorSetting"></span>
        </ion-col>
      </ion-row>
      <div *ngIf="ios" (click) = "makeImage()" class="image-setting">
        <div *ngIf="imageProfile==null" class="photo">
          <span>{{'PROFILE_PHOTO' | translate}}</span>
        </div>
        <img *ngIf="imageProfile!=null" src="{{imageProfile}}">
      </div>
      <ion-row>
        <ion-col offset-1 col-11 class="center">
          <ion-item>
            <ion-input md-input formControlName="full_name" type="text" placeholder="{{'FULL_NAME' | translate}}"></ion-input>
          </ion-item>
          <span class="error" *ngIf="!registerSetting.controls.full_name.valid  && (registerSetting.controls.full_name.dirty || submitted)">
            {{'INVALID_FULL_NAME' | translate}}
          </span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col offset-1 col-11 class="center">
          <ion-item>
              <ion-input md-input formControlName="job_title" type="text" placeholder="{{'JOB_TITLE' | translate}}"></ion-input>
          </ion-item>
          <span class="error" *ngIf="!registerSetting.controls.job_title.valid  && (registerSetting.controls.job_title.dirty || submitted)">
            {{'INVALID_JOB_TITLE' | translate}}
          </span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col offset-1 col-11 class="center">
          <ion-item>
            <ion-input md-input formControlName="company_name" type="text" placeholder="{{'COMPANY_NAME' | translate}}"></ion-input>
          </ion-item>
          <span class="error" *ngIf="!registerSetting.controls.company_name.valid  && (registerSetting.controls.company_name.dirty || submitted)">
            {{'INVALID_COMPANY_NAME' | translate}}
          </span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col offset-1 col-11 class="center">
          <ion-item>
            <ion-input md-input formControlName="job_description" type="text" placeholder="{{'JOB_DESCRIPTION' | translate}}"></ion-input>
          </ion-item>
          <span class="error" *ngIf="!registerSetting.controls.job_description.valid  && (registerSetting.controls.job_description.dirty || submitted)">
            {{'INVALID_JOB_DESCRIPTION' | translate}}
          </span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col offset-1 col-11 class="center">
          <ion-item>
            <ion-input md-input formControlName="email" type="email" placeholder="{{'EMAIL' | translate}}"></ion-input>
          </ion-item>
          <span class="error" *ngIf="!registerSetting.controls.email.valid  && (registerSetting.controls.email.dirty || submitted)">
            {{'INVALID_EMAIL' | translate}}
          </span>
        </ion-col>
      </ion-row>
      <ion-row class="form-container-buttons">
        <ion-col col-12 class="center">
          <button outline  ion-button class="button-form shadow" (click)="register()" [disabled]="!registerSetting.valid || submitted">{{'ACCEPT' | translate}}</button>
        </ion-col>
      </ion-row>
    </form>
  </content>
</ion-content>
